<div class="workout-page">
  <div class="workout-header">
    <h2>Treningi</h2>
    <a class="add-button" [routerLink]="['add']" title="Dodaj nowy trening">
      <span class="plus-icon">+</span>
    </a>
  </div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <ul class="workout-list" *ngIf="workouts.length > 0">
    <li *ngFor="let workout of workouts">
      <h3>{{ workout.date | date: 'longDate' }}</h3>
      <p><strong>Czas trwania:</strong> {{ workout.durationMin }} min</p>
      <p><strong>Notatka:</strong> {{ workout.note }}</p>

      <ng-container *ngIf="workout.exercises && workout.exercises.length > 0; else noExercises">
        <div class="exercise-list">
          <h4>Ćwiczenia:</h4>
          <div *ngFor="let exercise of workout.exercises" class="exercise-details">
            <p><strong>Nazwa:</strong> {{ exercise.exerciseName }}</p>
            <p><strong>Serie:</strong> {{ exercise.sets }}</p>
            <p><strong>Powtórzenia:</strong> {{ exercise.reps }}</p>
            <p><strong>Ciężar:</strong> {{ exercise.weightKg }} kg</p>
          </div>
        </div>
      </ng-container>

      <ng-template #noExercises>
        <p><em>Brak ćwiczeń w tym treningu.</em></p>
      </ng-template>
    </li>
  </ul>

  <div *ngIf="workouts.length === 0" class="no-workouts-message">
    Nie masz zapisanych żadnych treningów.
  </div>
</div>
