<div class="home-container">
    <main class="hero">
        <h1>Śledź swój progres na siłowni!</h1>
        <p>Zaplanuj treningi, monitoruj postępy i osiągaj cele szybciej dzięki GymProgesser.</p>
        <a routerLink="/register" class="btn-primary">Rozpocznij teraz</a>
    </main>

    <section class="features">
        <div class="feature">
            <h3>📈 Progres</h3>
            <p>Rejestruj wyniki i obserwuj swój rozwój w czasie.</p>
        </div>
        <div class="feature">
            <h3>🏋️‍♂️ Baza ćwiczeń</h3>
            <p>Znajdź odpowiednie ćwiczenia w bogatej bazie danych.</p>
        </div>
        <div class="feature">
            <h3>📊 Prognoza rozwoju</h3>
            <p>Analizuj dane i uzyskuj przewidywania dotyczące przyszłych wyników.</p>
        </div>
    </section>

</div>